/* Settings */
:root {
    --sandy-light: #fceacf;
    --sandy-medium: #e2c08d;
    --sandy-dark: #8b662e;
    --black: #211300;
    --white: #fffbf1;
    --green: #1faa1a;
}

* { 
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
	background: var(--sandy-medium);
	color: var(--black);
    font-size: 15px;
    margin: 0;
    padding: 0;
}
	
body {
	text-rendering: optimizeLegibility;
    padding: 1rem;
}
	
ul, ol, dl {
	margin: 0;
    list-style: none;
    padding: 0;
}

article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
}
	
h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}

h1 {
	font-size: 1.3rem;
}
h2 {
	font-size: 1.2rem;
}
h3 {
	font-size: 1.1rem;
}
	
p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
} 
	
textarea { 
	resize: vertical;
}
 
table { border-collapse: collapse; }
td {
	padding: 0.5rem;
}
	
img { 
	border: none;
	max-width: 100%;
}
	
input:required:after {
	color: #f00;
	content: " *";
}
input[type="email"]:invalid { 
	background: #f00;
}
	
sub, sup { 
	line-height: 0;
}

button {
    border: none;
}

/* Header */
header {
    background-color: var(--white);
    padding: 0.5rem;
    overflow: auto;
    border-bottom: 1rem solid var(--sandy-dark);
}

.curr-info {
    display: block;
    float: right;
    clear: both;
    font-weight: 600;
}

/* Main */
main {
    background-color: var(--sandy-light);
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
}

/* Airports list */
#airports {
    background-color: var(--white);
    flex-grow: 1;
    overflow-y: scroll;
    height: 28.5rem;
    padding: 0.2rem;
}

li {
    display: flex;
    border-bottom: 1px solid var(--black);
    padding: 0.2rem 0.6rem 0;
    cursor: pointer;
    gap: 0.2rem;
}

li.active {
    box-shadow: 0 0 1px 3px var(--green);
}

li span {
    flex-basis: 10%;
    flex-grow: 1;
}

li .airport-country,
li .airport-direction {
    flex-basis: 15%;
}

li .airport-name {
    flex-basis: 40%;
}

#filter-controls {
    background-color: var(--sandy-medium);
    font-size: 1.1rem;
}

/* Map */
#map {
    width: 35rem;
    height: 30rem;
}

/* Footer */
footer {
    background-color: var(--sandy-light);
    overflow: auto;
    padding: 0.5rem;
}

#submit {
	font-size: 2rem;
    background-color: var(--green);
    color: white;
    padding: 1rem;
    margin: auto;
    display: block;
    float: right;
    font-weight: 600;
    border: 3px solid var(--sandy-dark);
    text-shadow: 0 0 5px var(--sandy-dark);
    cursor: pointer;
}

#submit:active {
    filter: hue-rotate(250deg);
}

/* Success page */
#success {
    background-color: var(--sandy-light);
}

.caps {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}